body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(236,236,236);
}
container {
  margin: 0;
  width: 100%;
}

#top-bar {
  height: 125px;
}
#app-name{
  font-size: 100px;
  color: black;
  margin-left: 5px;
  margin-top: 22px;
  font-weight: bolder;
}

main {
  flex: 1 0 auto;
}
nav {
  height: 80px;
}
img {
  height: 80px;
}
#buttons-div {
  margin-top: 60px;
}
.category-buttons,
.sub-category-buttons {
  font-size: 160px;
  font-weight: bold;
  float: left;
  margin: 65px 10px 50px 65px;
  color: white;
  border-radius: 40px;
  width: 720px;
}
.dimension-buttons {
  font-size: 160px;
  font-weight: bold;
  float: left;
  margin: 40px 10px 50px 40px;
  color: white;
  border-radius: 40px;
  width: 220px;
}
.type-buttons {
  font-size: 125px;
  font-weight: bold;
  float: left;
  margin: 30px 10px 45px 35px;
  color: white;
  border-radius: 10px;
  width: 370px;
}

h1.weather {
  background: lightblue;
  font-size: 80px;
  margin: 60px 0 0 0;
  padding: 20px;
  border: 4px solid rgb(254,213,49);
}
#spacer {
  height: 60px;
}
#display-field {  
  background: black;
  font-size: 48px;
  color: white;
}
#data-input {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 90px;
  height: 160px;
  background: black;
  color: white;
}
#list-btn,
#location-btn,
#home {
  height: 105px;
  margin: 10px 15px 10px 0px;
  border-radius: 4px;
}
#icon-size{
  font-size: 60px;
}
#category-choice {
  font-size: 65px;
  background: rgb(236,236,236); 
  color: darkgray;
}

#bottom-bar {
  height: 120px;
}
#map {
  margin-top: 80px 0 100px 0;
  border: 4px solid rgb(254,213,49);
}
#qty-row {
  height: 600px;
}
#qty-left,
#qty-right {
  margin: 0;
}
#plus,
#minus {
  width: 220px;

}
#qty-input {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 80px;
}

#qty-buttons {
  font-size: 160px;
  font-weight: bold;
  float: left;
  margin: 40px 10px 50px 40px;
  color: white;
  border-radius: 40px;
  width: 220px;
}
#add-button-id,
#clear-list-id {
  font-size: 160px;
  font-weight: bold;
  margin: 65px 10px 50px 65px;
  color: white;
  border-radius: 40px;
  width: 720px;
}
#qty {
  width: 420px;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 80px;
}
#qty-display {
  width: 420px;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 80px;
  text-align: center;
}
#delete-btn {
  height: 80px;
  margin: 5px 5px 10px 0px;
  border-radius: 4px;
  background-color: red;
  float: right;
}

.qty-buttons {
  font-size: 120px;
  font-weight: bold;
  float: left;
  margin: 40px 10px 50px 40px;
  color: white;
  border-radius: 40px;
  width: 220px;
}
h1.list-display {
  background: white;
  text-align: left;
  font-size: 80px;
}




